<page [title]="'系统设置'">
    <nz-breadcrumb [style.marginBottom.px]="24">
        <nz-breadcrumb-item>
            首页
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>系统设置</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-card>
        <nz-tabset [nzTabPosition]="'top'">
            <nz-tab [nzTitle]="'站点信息'">
                    
            </nz-tab>
            <nz-tab [nzTitle]="'数量设置'">
				222
            </nz-tab>
            <nz-tab [nzTitle]="'服务账户'">
				333
            </nz-tab>
            <nz-tab [nzTitle]="'其他设置'">
				444
            </nz-tab>
        </nz-tabset>
    </nz-card>
</page>
