<page [title]="'自动化面板'">
    <nz-breadcrumb  [style.marginBottom.px]="24">
        <nz-breadcrumb-item>
            首页
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>自动化面板</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>


    <nz-card nzTitle="自动化列表" [style.marginBottom.px]="24">
        <div nz-row nzGutter="16" [style.marginBottom.px]="24">
            <div nz-col class="gutter-row" nzSpan="12">
                <div class="gutter-box">
                    <div>
                        <a class="ant-btn btn-create" routerLink='/automation/create'><i nz-icon type="plus"></i> 添加</a>
                        <a class="ant-btn" [style.marginLeft.px]="5" (click)="initData()"> <i nz-icon type="redo"></i></a>
                    </div>
                </div>
            </div>
            <div nz-col class="gutter-row" nzPush="8" nzSpan="4">
                <div class="gutter-box">
                    <div [style.float]="'right'">
                        <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" nz-input placeholder="搜索" />
                        </nz-input-group>
                        <ng-template #suffixIconSearch>
                            <i nz-icon type="search"></i>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        
        <nz-spin [nzSpinning]="isLoading">
        <nz-table nzBordered [nzData]="automations"  [nzShowPagination]="false" [style.marginBottom.px]="24">
            <thead>
                <tr>
                    <th>ID编号</th>
                    <th>标题</th>
                    <th>简介</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of automations">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.remark}}</td>
                    <td>{{item.add_time}}</td>
                    <td>
                        <nz-tag routerLink='/automation/create' [queryParams]="{'id':item.id}" [style.marginRight.px]="10"><i nz-icon type="form"></i> 编辑</nz-tag>
                        <nz-tag (click)="delListItem(item.id)"><i nz-icon type="delete"></i> 删除</nz-tag >
                    </td>
                </tr>
            </tbody>
        </nz-table>
        </nz-spin>
        <div [style.marginBottom.px]="24">
            <nz-pagination (nzPageIndexChange)="nzPageIndexChange($event)" (nzPageSizeChange)="nzPageSizeChange($event)" [nzPageIndex]="page" nzShowSizeChanger [nzPageSize]="num" [nzTotal]="total_page*num"></nz-pagination>
        </div>
    </nz-card>
</page>