<page [title]="'自动化'">
  
		<div nz-row [nzGutter]="16" [style.marginBottom.px]="24">
		    <div nz-col class="gutter-row infopannel" nzXl="6">

		        <!-- 保存按钮 -->
		        <button class="saveBtn" nz-button (click)="doSave()" nzType="default" [style.marginRight.px]="24">保存</button>
		        <button class="saveBtn" nz-button (click)="closeAutomation()" nzType="default" >关闭</button>


		        

		        
		        <!-- 详细面板 -->
		        <div id="detailpannel" class="detailpannel" [class.hide]="hideLableEdit">
		            <form nz-form>
		                <nz-form-item>
		                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>标签</nz-form-label>
		                    <nz-form-control [nzSm]="14" [nzXs]="24">
		                        <input nz-input name="label" [(ngModel)]="selectItem.label" (ngModelChange)="labelChange($event)" />
		                    </nz-form-control>
		                </nz-form-item>
		                <nz-form-item>
		                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>类型</nz-form-label>
		                    <nz-form-control [nzSm]="14" [nzXs]="24">
		                        <nz-radio-group name="event_type" [(ngModel)]="selectItem.event_type" (ngModelChange)="eventTypeChange()">
		                            <label nz-radio-button [nzValue]="'trigger'">触发器</label>
		                            <label nz-radio-button [nzValue]="'action'">动作</label>
		                            <label nz-radio-button [nzValue]="'condition'">判断</label>
		                        </nz-radio-group>
		                    </nz-form-control>
		                </nz-form-item>
		                <nz-form-item [class.hide]="selectItem.event_type == 'condition'" >
		                    <nz-form-label [nzSm]="6" [nzXs]="24">动作</nz-form-label>
		                    <nz-form-control [nzSm]="14" [nzXs]="24">
		                        <nz-select name="event_action" [(ngModel)]="selectItem.event_action">
		                            <nz-option *ngFor="let opt of actionsOrtriggers" nzValue="{{opt.vlaue}}" nzLabel="{{opt.title}}"></nz-option>
		                        </nz-select>
		                    </nz-form-control>
		                </nz-form-item>
		                <nz-form-item>
		                    <nz-form-label [nzSm]="6" [nzXs]="24">数据</nz-form-label>
		                    <nz-form-control [nzSm]="14" [nzXs]="24">
		                        <textarea nz-input rows="4" name="event_data" [(ngModel)]="selectItem.event_data">{{selectItem.event_data}}</textarea>
		                    </nz-form-control>
		                </nz-form-item>
		            </form>
		        </div>
		    </div>
		    <div nz-col class="gutter-row" nzXl="18">
		    	<!-- 元素面板栏 -->
		        <div id="itempannel" class="itempannel">
		            <a class="getItem" data-type="node" data-shape="flow-circle" data-size="72*72" data-label="触发器" data-color="#FA8C16">
		                <img draggable="false" src="./assets/images/node/circle.svg" srcset="">
		            </a>
		            <a class="getItem" data-type="node" data-shape="flow-rect" data-size="120*48" data-label="执行" data-color="#1890FF">
		                <img draggable="false" src="./assets/images/node/rect.svg" srcset="">
		            </a>
		            <a class="getItem" data-type="node" data-shape="flow-rhombus" data-size="80*72" data-label="判断" data-color="#13C2C2">
		                <img draggable="false" src="./assets/images/node/rhombus.svg" srcset="">
		            </a>
		            <!-- <a class="getItem" data-type="node" data-shape="flow-capsule" data-size="80*48" data-label="人群" data-color="#722ED1">
		                <img draggable="false" src="./assets/images/node/capsule.svg" srcset="">
		            </a> -->
		        </div>
		        <!-- 主画布 -->
		        <div id="page" class="content-pannel"></div>
		    </div>
		</div>
   
</page>
