<page [title]="'控制面板'">

    <nz-breadcrumb  [style.marginBottom.px]="24">
        <nz-breadcrumb-item>
            首页
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a>控制面板</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div nz-row [nzGutter]="16" [style.marginBottom.px]="24">
        <div nz-col class="gutter-row" nzXl="6" nzXs="12"  [style.marginBottom.px]="24">
            <div class="gutter-box">
                <nz-card [nzBordered]="false">
                    <nz-card-meta [nzAvatar]="avatarTemplate1" nzTitle="新增用户" nzDescription="This is the description"></nz-card-meta>
                    <ng-template #avatarTemplate1>
                        <i class="icon-statistics color-green" nz-icon type="user"></i>
                    </ng-template>
                </nz-card>
            </div>
        </div>
        <div nz-col class="gutter-row" nzXl="6" nzXs="12"  [style.marginBottom.px]="24">
            <div class="gutter-box">
                <nz-card [nzBordered]="false">
                    <nz-card-meta [nzAvatar]="avatarTemplate2" nzTitle="阅读量" nzDescription="This is the description"></nz-card-meta>
                    <ng-template #avatarTemplate2>
                        <i class="icon-statistics color-blue" nz-icon type="global"></i>
                    </ng-template>
                </nz-card>
            </div>
        </div>
        <div nz-col class="gutter-row" nzXl="6" nzXs="12"  [style.marginBottom.px]="24">
            <div class="gutter-box">
                <nz-card [nzBordered]="false">
                    <nz-card-meta [nzAvatar]="avatarTemplate3" nzTitle="新增订单" nzDescription="This is the description"></nz-card-meta>
                    <ng-template #avatarTemplate3>
                        <i class="icon-statistics color-purple" nz-icon type="message"></i>
                    </ng-template>
                </nz-card>
            </div>
        </div>
        <div nz-col class="gutter-row" nzXl="6" nzXs="12"  [style.marginBottom.px]="24">
            <div class="gutter-box">
                <nz-card [nzBordered]="false">
                    <nz-card-meta [nzAvatar]="avatarTemplate4" nzTitle="支付" nzDescription="This is the description"></nz-card-meta>
                    <ng-template #avatarTemplate4>
                        <i class="icon-statistics color-red" nz-icon type="pay-circle"></i>
                    </ng-template>
                </nz-card>
            </div>
        </div>
    </div>

    <div nz-row [nzGutter]="16" [style.marginBottom.px]="24">
        <div nz-col class="gutter-row" nzXl="24" nzXs="24"  [style.marginBottom.px]="24">
            <nz-card [nzBordered]="false" nzTitle="数据统计">
                <canvas baseChart width="5" height="1" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="lineChartType"></canvas>
            </nz-card>
        </div>
    </div>

    <div nz-row [nzGutter]="16" [style.marginBottom.px]="24">
        <div nz-col class="gutter-row" nzXl="8" nzXs="24"  [style.marginBottom.px]="24">
            <nz-card [nzBordered]="false" nzTitle="数据统计">
                <canvas baseChart  [datasets]="lineChartData" [labels]="lineChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="lineChartType"></canvas>
            </nz-card>
        </div>
        <div nz-col class="gutter-row" nzXl="8" nzXs="24"  [style.marginBottom.px]="24">
            <nz-card [nzBordered]="false" nzTitle="数据统计">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
            </nz-card>
        </div>
        <div nz-col class="gutter-row" nzXl="8" nzXs="24"  [style.marginBottom.px]="24">
            <nz-card [nzBordered]="false" nzTitle="数据统计">
                <canvas baseChart  [datasets]="bar2ChartData" [labels]="bar2ChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </nz-card>
        </div>
    </div>
</page>
