@import '~ng-zorro-antd/ng-zorro-antd.less';


// Base Scaffolding Variables

@border-radius-base : none;


// Table
@table-padding-vertical: 10px;
@table-padding-horizontal: 10px;

.ant-table-thead tr th{
	padding: 14px 10px;
}


.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    text-align: center;
}

.hide{
	display: none;
}

/*树型Select框*/
.ant-select-tree li {
	margin:0;
}
.ant-select-dropdown ul{
	margin: 5px 0;
}
/*树型Select框*/